
.footer{
    color:white;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 3rem;
    background-color:black;
    margin-left: 0px;
  }
  li{
    text-decoration: none;
    color: white;
    background-color: black;
    display: block;
  }
  li:hover{
    cursor: pointer;
  }
  .container{
    display: flex;
    gap: 135px;
    padding-bottom: 120px;
    background-color: black;
  }
  .container li{
    font-size: 20px;
  }
  .container li:hover{
    font-size: 25px;
  }
  .final{
    background-color: firebrick;
    color: lightyellow;
    padding: 20px;
    margin: 0px;
  }
  footer{
    background-color: black;
  }